.gridHeader
  h3.gridTitle(*ngIf="gridTitle") {{gridTitle}}
  .grid-search(*ngIf='canSearch')
    txt([(value)]='searchText', icon='fa fa-search', i18n='@@Grid.Search', [placeholder]="searchPlaceholder || 'Search'")
  .clearfix
div(*loader="data?.currentLoad; what: 'data';")
  table.mat-elevation-z2.mat-table.table.table-hover(*ngIf='data')
    tr.mat-header-row
      th.mat-header-cell(*ngIf='onSave', style='width:45px;white-space: nowrap;')
      th.mat-header-cell(*ngFor='let col of data.columns', [class]='classFor(col)', (click)='sortBy(col)')
        | {{col.name}}
        i([class]='sortClassFor(col)')
      th(*ngIf='onSave', style='width:45px;white-space: nowrap;')
    tr.mat-header-row(*ngIf='canFilter')
      th.mat-header-cell(*ngIf='onSave', style='width:45px;white-space: nowrap;')
      th.mat-header-cell(*ngFor='let col of data.columns')
        span(*ngIf='col.canFilter')
          txt.small(icon='filter', [(value)]='col.filter')
    ng-container(*ngFor='let x of lines; let i = index')
      tr.datarow.mat-row([contextMenu]="rowContextMenu || emptyContextMenu",
            [contextMenuSubject]="x",
            [cellClass]='cellClass',
            [class.odd]="i%2",
            (click)='onClick($event,x)',
            [class.clickable]='canClick',
            [row]='x',
            [columns]='data.columns',
            [onSave]='onSave',
            [onDelete]="onDelete",
            (delete)='removeRow($event)')
      tr.openrow.mat-row([colspan]="data.columns.length+2", *ngIf="x.$$open", [item]="x", [readonly]="!x.$$isEditting", [template]="x.$$open")
    context-menu(#emptyContextMenu)

  .text-center.lead(*ngIf='lines && !lines.length', i18n='@@Grid.NoData') No data to display
  .text-center(*ngIf='canAdd')
    btn.sm((clicked)='onAdd($event)', type="stroked", icon="plus")
      |  {{canAddText}}
  //- .text-center([hidden]='pages.length<2')
    ul.pagination.pagination-sm
      li(*ngFor='let p of pages', [class.active]='data.page==p.id', [class.disabled]='p.disabled')
        a((click)='gotoPage(p.id)') {{p.name}}
