:host {
    display: block;
    position: relative;
}
:host.clickable {
    tr {
        cursor: pointer;
    }
}
:host /deep/ {
    table {
        width: 100%;
    }
    fieldset.form-group{
        margin-bottom: 0 !important;
    }
    .grid-search{
        txt {
            float:right;
            margin-right: 15px;
        }
    }
    td, th {
        padding: 0.5em;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    .no-open-margin {
        display: block;
        margin: -0.5em;
    }
    th {
        text-align: center;
    }
    th.cansort{
        cursor:pointer;
    }

    .col-action, .col-boolean{
        width:1%;
        white-space: nowrap;
    }
    /*money{
        display:block;
        width:100%;
        text-align:right;
    }*/

    td>txt{
        margin-bottom: 0;
    }
}

.grid-search{
    margin-top: 1em;
}

:host{
    display: block;
    margin-bottom: 1em;
}

:host.tight /deep/ .table td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
btn {
    margin: 0.8em;
}