<mat-form-field>
    <input matInput
        [matAutocomplete]="auto"
        [placeholder]="placeholder"
        [disabled]="status === 'init'"
        #input=""
        [formControl]="searchControl"
        (blur)="onBlur()"
        (keyup)="onEmptyInput($event)"
    >
    <button *ngIf="create && status === 'ready'" mat-button matSuffix mat-icon-button matTooltip="Create" (click)="onCreate()">
        <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <span *ngIf="status === 'searching' || status === 'init'" matSuffix>
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
    </span>
    <span *ngIf="status === 'error'" matSuffix>
        <fa-icon [icon]="faTimes" class="text-danger"></fa-icon>
    </span>
    <mat-autocomplete #auto="matAutocomplete"
        autoActiveFirstOption
        [displayWith]="displayWithInternal">

        <mat-option *ngFor="let s of filteredOptions | async" [value]="s">
            <template-injector [template]="itemTemplate" [value]="s" name="result"></template-injector>
        </mat-option>
    </mat-autocomplete>
        <!-- ===  results ===

        //- ===  no result ===
        //- mat-option(*ngIf="!searching && !(filteredOptions | async)?.length")
            div.ta-message(#noresultref, [hidden]="isEmpty(noresultref)")
                ng-content(select="[noresult]")
            div.ta-message.text-center(*ngIf="noresultref.childNodes.length == 0") No result

        //- ===  add ===
        //- mat-option(#createRef, [hidden]="isEmpty(createRef)", [value]="_createTag")
            ng-content(select="[create]")
            -->
</mat-form-field>
