img.flag {
    height: 1.3rem;
    margin-right: 1rem;
}
mat-card {
    margin: 0.5em;
}


btn {
    margin: 1em;
}

.center {
    text-align: center;
}

i.center {
    margin: 1em;
    display: block;
}