ng-template([ngIf]="inline")
    div.loader-message.text-danger([matTooltip]="details")
        span  Failed to load
        span   {{what||'this'}}  
        a(*ngIf="retry", (click)="retry()")
            fa-icon(icon="sync")
            span  retry
ng-template([ngIf]="!inline")
    div.loader-err-icon.text-danger :(
    div.loader-message.text-danger Oops, I failed to load
    div.loader-message.text-danger  {{what||'this'}}
    div.loader-details.text-danger(*ngIf="details")
        a.text-danger(*ngIf="!showDetails", (click)="showDetails=true")
            fa-icon(icon="details")
            span details
        div(*ngIf="showDetails")
            | {{details}}
        div.retry
            a(*ngIf="retry", (click)="retry()")
                fa-icon(icon="sync")
                span  retry