:host {
    display: block;
    
    text-align: center;
}
pre{
    background: unset;
    border: unset;
    font-family: inherit;
    font-variant: inherit;
    font-style: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    margin-left:1rem;
    margin-right:1rem;
}
.btns{
    display: block;
    margin-top: 2rem;
}