mat-form-field
	div(*ngIf="loading", matPrefix)
		.loader
	input(#nti,
			matInput,
			[type]="type",
			[name]="name",
			[(ngModel)]="value",
			[class.validating]="isValidating||error||loading||errorBarWidth",
			(blur)="onBlur()",
			(focus)="focused.emit()",
			[placeholder]="placeholder",
			(keydown)="onKeyDown($event)",
           [errorStateMatcher]="matcher",
			(keyup)="onKeyUp($event)",
			[readonly]="readonly",
			[disabled]="disabled")
	div.checkvalid(*ngIf="!isValidating && !loading && !error && validator && value || icon", [style.color]="iconColor", matSuffix)
		i([class]="icon||'fa fa-check'")
	mat-error(*ngIf="error") {{error}}
	mat-hint(*ngIf="!error && isValidating") Validating...
	mat-hint(*ngIf="!error && info && !isValidating") {{info}}