<mat-form-field>
    <div *ngIf="loading" matPrefix="matPrefix">
        <div class="loader"></div>
    </div><input #nti="#nti" matInput="matInput" [type]="type" [name]="name" [(ngModel)]="value" [class.validating]="isValidating||error||loading||errorBarWidth"
        (blur)="onBlur()" (focus)="focused.emit()" [placeholder]="placeholder" (keydown)="onKeyDown($event)"
        [errorStateMatcher]="matcher" (keyup)="onKeyUp($event)" [readonly]="readonly" [disabled]="disabled" />
    <div class="checkvalid" *ngIf="!isValidating &amp;&amp; !loading &amp;&amp; !error &amp;&amp; validator &amp;&amp; value || icon"
        [style.color]="iconColor" matSuffix="matSuffix"><i [class]="icon||'fa fa-check'"></i></div>
    <mat-error *ngIf="error">{{error}}</mat-error>
    <mat-hint *ngIf="!error &amp;&amp; isValidating">Validating...</mat-hint>
    <mat-hint *ngIf="!error &amp;&amp; info &amp;&amp; !isValidating">{{info}}</mat-hint>
</mat-form-field>